body {
    font-family: 'Arial', sans-serif;
    background-image: url('../../Assets/Pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 20px;
    padding: 20px ;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: black;
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

.topping-category h4 {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: red;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}