body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-image: url('../../Assets/Pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pizza-form label[for="name-input"] {
    font-weight: bold;
    font-size: 20px;
}

#name-input {
    margin-left: 10px;
    padding: 4px;
}

#back-button {
    display: inline-block;
    margin: 0px 105px 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

#back-button:hover {
    background-color:red ;
}

.container {
    max-width: 600px;
    margin: 0px;
    background-color: antiquewhite;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-left: 0px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 60px;
    padding: 10px 15px;
    border-radius: 10px;
}

h2 {
    color: black;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: black;
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

.topping-category h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: inline-block;
    margin: 50px 100px 0px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: red;
}

h5 {
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 15px;
    border-radius: 20px;
}

.error-message {
    color: red;
}

.size-label {
    font-weight: bold;
    font-size: 22px;
}

#size-dropdown {
    margin-left: 10px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 3px;
    font-size: 16px;
}

#pizza-form label[for="special-text"] {
    font-weight: bold;
    font-size: 20px;
}

#special-text {
    margin-left: 10px;
    margin-top: 30px;
    padding: 4px;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}